body, div, row{
background-color: rgba(255, 255, 255, 0);
/*display: inline-block; */
}

row {
display: inline-block;
}

html {
padding: 1% 1% 0% 0%;
  background: url(../pics/export-11.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: KGSecondChancesSketch;
  src: url(../fonts/KGSecondChancesSketch.woff) format('woff'), url(../fonts/KGSecondChancesSketch.ttf) format('truetype');
}

@font-face {
  font-family: KGSecondChancesSolid;
  src: url(../fonts/KGSecondChancesSolid.woff) format('woff'), url(../fonts/KGSecondChancesSolid.ttf) format('truetype');
}

@font-face {
  font-family: LoveYaLikeASister;
  src: url(../fonts/LoveYaLikeASister.woff) format('woff'), url(../fonts/LoveYaLikeASister.ttf) format('truetype');
}

@font-face {
font-family: urban;
src: url(../fonts/urban.woff) format('woff'), url(../fonts/urban.ttf) format('truetype');
}
  
@font-face {
font-family: Archistico_Bold;
src: url(../fonts/Archistico_Bold.woff) format('woff'), url(../fonts/Archistico_Bold.ttf) format('truetype');
}

@font-face {
font-family: Archistico_Simple;
src: url(../fonts/Archistico_Simple.woff) format('woff'), url(../fonts/Archistico_Simple.ttf) format('truetype');
}

@font-face {
font-family: Blackout-Midnight;
src: url(../fonts/Blackout-Midnight.woff) format('woff'), url(../fonts/Blackout-Midnight.ttf) format('truetype');
}

@font-face {
font-family: Blackout-2am;
src: url(../fonts/Blackout-2am.woff) format('woff'), url(../fonts/Blackout-2am.ttf) format('truetype');
}

@font-face {
font-family: CaviarDreams;
src: url(../fonts/CaviarDreams.woff) format('woff'), url(../fonts/CaviarDreams.ttf) format('truetype');
}

@font-face {
font-family: CaviarDreamsBold;
src: url(../fonts/CaviarDreamsBold.woff) format('woff'), url(../fonts/CaviarDreamsBold.ttf) format('truetype');
}

@font-face {
font-family: BebasNeue;
src: url(../fonts/BebasNeue.woff) format('woff'), url(../fonts/BebasNeue.ttf) format('truetype');
}
 
.KGSecondChancesSketch {
background-color: rgba(112,112,112, 0.0);
font-family: 'KGSecondChancesSketch', Serif, Arial, Ubuntu;
}

.KGSecondChancesSolid {
background-color: rgba(112,112,112, 0.0);
font-family: 'KGSecondChancesSolid', Serif, Arial, Ubuntu;
}

.LoveYaLikeASister {
background-color: rgba(112,112,112, 0.0);
font-family: 'LoveYaLikeASister', Serif, Arial, Ubuntu;
}

.Urban {
background-color: rgba(112,112,112, 0.0);
font-family: 'Urban', Serif, Arial, Ubuntu;
font-weight: 'Strong';
}

.Archistico_Bold {
background-color: rgba(112,112,112, 0.0);
font-family: 'Archistico_Bold', Serif, Arial, Ubuntu;
}

.Archistico_Simple {
background-color: rgba(112,112,112, 0.0);
font-family: 'Archistico_Simple', Serif, Arial, Ubuntu;
}

.Blackout-Midnight {
background-color: rgba(112,112,112, 0.0);
font-family: 'Blackout-Midnight', Serif, Arial, Ubuntu;
}

.Blackout-2am {
background-color: rgba(112,112,112, 0.0);
font-family: 'Blackout-2am', Serif, Arial, Ubuntu;
}

.CaviarDreams {
background-color: rgba(112,112,112, 0.0);
font-family: 'CaviarDreams', Serif, Arial, Ubuntu;
}

.CaviarDreamsBold {
background-color: rgba(112,112,112, 0.0);
font-family: 'CaviarDreamsBold', Serif, Arial, Ubuntu;
}

.BebasNeue {
background-color: rgba(112,112,112, 0.0);
font-family: 'BebasNeue', Serif, Arial, Ubuntu;
}

.purple {
color: rgba(64,0,64,1);
}

.names {
font-family: 'Archistico_Bold', Calibri, Ubuntu, Arial;
font-size: 3vmax; /*font size = 45 px, base h1 font size = 38.5*/
}

.date {
font-size: 1.5vmax;
font-family: 'CaviarDreams', Open Sans Condensed , Ubuntu;
}

.place {
font-size: 1vmax;
font-family: 'Blackout-2am', Ubuntu;
}

.downsize {
font-size: 0.6vmax;
}

.links {
font-family: 'BebasNeue';
font-size: 1.7vmax;
padding: 15% 0% 0% 0%;
position: relative;

}

a {
color: rgba(64,0,64,1.0);
background-color: transparent;
}

a:link,
a:visited {
color: rgba(64,0,64,1);
}


.nav-tabs {
  border-bottom: transparent;
}

.nav > li :hover,
.nav > li :focus {
cursor: pointer;
text-decoration: underline;
background-color: transparent;
border-color: transparent;
border-bottom-color: transparent;
}

.nav-tabs > li.active {
  color: #400040;
  cursor: default;
  background-color: transparent;
  border: transparent;
  border-bottom-color: transparent;
  font-weight:bold;
}

.content{
	border-radius: 10px;
	padding: 25px;
	overflow:auto;
	color: white;
	font-size: 0.9vmax;
}

.content h4,
.content h3 {
	font-family: 'Blackout-Midnight', Serif, Arial, Ubuntu;
}


.thumbs {
display: inline-block;
padding: 5%;
}

img{
border-color: #ffffff;
border-style: solid;
}

.carousel-inner {
	overflow: hidden;
}

.carousel-indicators li{
    width: 7%; 
    height:100%;
    background-size: 100%;
}
.attractions a:link,
.attractions a:visited,
.attractions a:hover {
	color: #85ADFF;
	font-family: 'BebasNeue', Calibri, Serif, Ubuntu, Arial;
}

.rsvpform  table,
.rsvpform  tbody,
.rsvpform  tr,
.rsvpform  td {
	padding: 10px;
}

.rsvpform select,
.rsvpform  option {
	color: rgba(1,1,1,1);
}

.rsvpform input[type="text"] {
	width:200px;
	border-radius: 5px;
	padding: 5%;
	color: #000;
}
.rsvpform a:link,
.rsvpform a:visited,
.rsvpform a:hover {
	color: #85ADFF;
}

.submitChennai,
.submitSeattle {
	-moz-box-shadow:inset 0px 1px 0px 0px #8e008c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #8e008c;
	box-shadow:inset 0px 1px 0px 0px #8e008c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #400040), color-stop(1, #990099) );
	background:-moz-linear-gradient( center top, #400040 5%, #990099 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#400040', endColorstr='#990099');
	background-color:#400040;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #5a005a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #550066;
}
.submitChennai:hover,
.submitSeattle:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #990099), color-stop(1, #400040) );
	background:-moz-linear-gradient( center top, #990099 5%, #400040 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#990099', endColorstr='#400040');
	background-color:#990099;
}.submitChennai:active ,
.submitSeattle:active {
	position:relative;
	top:2px;
}

.submitChennai_Disabled,
.submitSeattle_Disabled{
	-moz-box-shadow:inset 0px 1px 0px 0px #949294;
	-webkit-box-shadow:inset 0px 1px 0px 0px #949294;
	box-shadow:inset 0px 1px 0px 0px #949294;
	background-color:#807e80;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #707070;
	display:inline-block;
	color:#dedede;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #050505;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  max-width: none;
}